
        .body,html{
          overflow: hidden;
        }
        .content {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          display: flex;
          min-height: 1080px;
          width: 100%;
        }
        .img {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          
          object-position: center;
        }
        .align-buttons {
          position: relative;
          align-self: end;
          display: flex;
          width: 462px;
          max-width: 100%;
          justify-content: space-between;
          gap: 10px;
          font-size: 30px;
          font-weight: 400;
          white-space: nowrap;
          
        }
        
        .login-button {
          font-family: Times New Roman, -apple-system, Roboto, Helvetica,
            sans-serif;
          border-radius: 30px;
          background-color: #ffda17;
          flex-grow: 1;
          justify-content: center;
          align-items: start;
          padding: 11px 32px;
          
        }
        
        .register-button {
          font-family: Times New Roman, -apple-system, Roboto, Helvetica,
            sans-serif;
          border-radius: 30px;
          background-color: #ffda17;
          flex-grow: 1;
          align-items: start;
          padding: 14px 36px 8px;
          margin-left: 50px;
        }
        
        .align-text {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 50px 0 6px 21px; /* Adjust the top margin here */
        }
        
        .growgenius {
          
          text-align: center;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font: 700 240px Times New Roman, -apple-system, Roboto, Helvetica, sans-serif;
       
        }
        
        .about-us {
          border-radius: 40px;
          background-color: #ffda17;
          width: 203px;
          max-width: 100%;
          padding: 12px 60px 32px 25px;
          font: 400 52px Times New Roman, -apple-system, Roboto, Helvetica, sans-serif;
          margin-top: 290px; /* Adjust the top margin here */
          margin-left: 2000px;
        }